@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

:root {
    --blanco-anfitrion: #EAEAEA;
    --blanco-secundario: #D9DFE5;
    --negro-anfitrion: #2B2C32;
}

* {
    font-family: 'DM Sans', sans-serif;
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s
}

@keyframes bounce {
    0% {
        bottom: -50px;
        opacity: 0;
    }

    50% {
        bottom: 50px;
        opacity: 1;
    }

    70% {
        bottom: 30px;
    }

    100% {
        bottom: 0;
    }
}


  

body {
    background-color: var(--blanco-anfitrion);
}

header {
    background-color: (var(--blanco-anfitrion));
    color: #050505;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    position: relative;
    max-height: 55px;
    max-width: 100%;
    top: 1.2pc;
}

nav ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 50px;
    top: 1.2pc;
}

nav li {
    display: inline-block;
    margin-right: 40px;
}

nav li a {
    color: #313131;
    text-decoration: none;
    font-size: 17px;
}

nav li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav .dropdown {
    position: relative;
    z-index: 2;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    min-width: 100px;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

nav .dropdown-content a {
    display: block;
    padding: 10px;
    background-color: #EAEAEA;
    color: #313131;
    text-decoration: none;
    font-size: 16px;
    z-index: 2;

}

nav .dropdown-content a:hover {
    background-color: #e6e6e6;
    border-bottom: none;
    z-index: 2;
}

nav .caret-down {
    margin-left: 7px;
    z-index: 2;
}

nav .icon {
    transition: transform 0.2s ease-in-out;
}

nav .dropdown:hover .icon {
    transform: rotate(-180deg);
}

nav .dropdown:not(:hover) .icon {
    transform: rotate(0deg);
}

nav li a.casa {
    border-bottom: none;
}

.contenedor {
    position: relative;
    display: inline-block;
}

.imagen1 {
    position: relative;
    width: 500px;
    height: 100%;
    left: 45pc;
    top: 2pc;
    z-index: -2;
}

.text1 {
    position: relative;
    font-size: 45px;
    font-weight: lighter;
    color: #2B2C32;
    left: 13pc;
    top: 13pc;
    font-family: 'DM Sans', cursive;
    animation: bounce 1s ease-in-out;
}

.text2 {
    position: absolute;
    top: 31%;
    left: 50%;
    z-index: 1;
    color: #2B2C32;
    font-size: 110px;
    right: 70pc;
}

.text3 {
    position: relative;
    top: -1pc;
    left: 5pc;
    width: 600px;
    font-size: larger;
    font-weight: normal;
}

.text4 {
    position: relative;
    top: -1.5pc;
    left: 5pc;
    font-size: 17px;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 7px;
}

::-webkit-scrollbar-track {
    background: var(--blanco-secundario);
}

::-webkit-scrollbar-thumb {
    background: var(--negro-anfitrion);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #524a4a;
}

.contenedor2 {
    background-color: var(--negro-anfitrion);
    padding: 20px;
    color: white;
    margin: 0;
    height: 35pc;
    border-radius: 15px;
}

.titulo {
    position: relative;
    font-size: 80px;
    width: 400px;
    top: 7pc;
    left: 3pc;
}

.sub1,
.sub2,
.sub3 {
    position: relative;
    left: 59pc;
    width: 440px;
    top: -40pc;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
}

.p1 {
    position: relative;
    color: var(--blanco-secundario);
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    width: 22pc;
    left: 970px;
    top: -40.5pc;
}

.img-contenedor2 {
    position: relative;
    bottom: 0;
    height: 400px;
    top: -14pc;
    left: 40pc;
    border-radius: 10px;
    box-shadow: 0 0 80px rgba(218, 219, 112, 0.623);
    z-index: 3;
}

.text1,
.text2,
.text3,
.text4,
.imagen1 {
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    from {
        opacity: 0.5;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.contenedor3 {
    position: relative;
    top: 4pc;
}

.imgs-sc3 {
    height: 470px;
}

.titulo-sc3 {
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    color: var(--negro-anfitrion);
    left: 11pc;
    width: 0;
    letter-spacing: 4px;
    top: 2pc;
}

.descripcion-sc3 {
    position: relative;
    width: 30pc;
    left: 45pc;
    top: -9pc;
    font-size: 15px;
}

.img1 {
    position: relative;
    height: 521px;
    width: 812px;
    left: 12pc;
    top: -3pc;
}

.img2,
.img3,
.img4 {
    position: relative;
    width: 194px;
    left: 64pc;
    top: -36pc;
}

.imgs-sc3 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo-sc3-part2 {
    position: relative;
    font-size: 25px;
    font-weight: lighter;
    left: 12pc;
    width: 300px;
    top: 2pc;
}

.p-sc3 {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    left: 12pc;
    width: 400px;
    color: #405858;
    top: 2pc;
}

.descripcion-sc3-part2 {
    position: relative;
    width: 500px;
    font-size: 14px;
    font-weight: lighter;
    left: 42pc;
    margin-top: -5pc;
}

.money {
    position: relative;
    font-size: 35px;
    font-weight: bolder;
    color: #2d6fbb;
    top: 2pc;
    width: 100px;
    left: 15pc;
}

.mi-boton {
    position: relative;
    display: inline-block;
    padding: 12px 80px;
    background-color: var(--negro-anfitrion);
    color: var(--blanco-anfitrion);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    left: 50pc;
    top: -3pc;
    border-radius: 7px;
}

.mi-boton:hover {
    background-color: #000;
    color: #fff;
}

.contenedor4 {
    position: relative;
    background-color: var(--blanco-secundario);
    padding: 20px;
    color: white;
    margin: 0;
    height: 47pc;
    border-radius: 15px;
    top: 7pc;
}

.titulo-sc4 {
    position: relative;
    color: var(--negro-anfitrion);
    font-size: 55px;
    font-weight: bold;
    font-family: monospace;
    left: 25pc;
    width: 700px;
    top: 3.5pc;
}

.img-contenedor4 {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 11pc;
    width: 0;
    top: 4pc;
}

.img1-sc4 {
    margin-right: 15px;
}

.img-contenedor4 a img {
    transition: filter 0.3s ease;
}

.img-contenedor4 a:hover img {
    filter: brightness(50%);
}

.alt-sc4 {
    position: relative;
    top: 6pc;
}

.text-img1-sc4 {
    position: relative;
    left: 13.5pc;
    top: 4pc;
    width: 500px;
    font-size: 25px;
    color: var(--negro-anfitrion);
}

.text-img2-sc4 {
    position: relative;
    left: 48pc;
    width: 500px;
    font-size: 25px;
    top: 0.5pc;
    color: var(--negro-anfitrion);
}

.mi-boton2 {
    position: relative;
    display: inline-block;
    padding: 12px 80px;
    background-color: var(--negro-anfitrion);
    color: var(--blanco-anfitrion);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    left: 60pc;
    top: 2pc;
    border-radius: 7px;
}

.mi-boton2:hover {
    background-color: #000;
    color: #fff;
}

.alt-sc4 {
    color: var(--negro-anfitrion);
    width: 550px;
    font-weight: lighter;
    font-size: 14px;
    left: 12pc;
}

.footer {
    position: relative;
    background-color: var(--negro-anfitrion);
    padding: 130px;
    top: 7.5pc;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--blanco-anfitrion);
}

.img-footer {
    position: relative;
    max-height: 85px;
    max-width: 100%;
    top: 2pc;
    left: 3pc;
}

.sc5-contactanos{
    position: relative;
    font-size: 10px;
    color: var(--blanco-secundario);
    left: 25pc;
    font-weight: lighter;
    top: 2pc;
    width: 500px;
}


.sc5-contactanos h1{
    position: relative;
    font-size: 30px;
    color: var(--blanco-anfitrion);
    right: 1.5pc;
}

.unic-sc4 {
    position: relative;
    font-size: 10px;
    color: var(--blanco-secundario);
    left: 46pc;
    font-weight: lighter;
    top: -6.5pc;
    width: 500px;
}

.unic-sc4 h1 {
    position: relative;
    font-size: 30px;
    color: var(--blanco-anfitrion);
    left: 1pc;
}